<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js 2 For Beginners</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="message">
    <label>{{ message }}</label>
    <hr>

    <textarea v-model="textarea"></textarea>
    <br>
    <pre>{{ textarea }}</pre>
    <hr>

    <input type="radio" v-model="radiobutton" value="opsi1"> Opsi 1
    <input type="radio" v-model="radiobutton" value="opsi2"> Opsi 2
    <br>
    <p>Your choice: {{ radiobutton }}</p>
    <hr>

    <label>Mancing</label>
    <input type="checkbox" value="mancing" v-model="checkbox">
    <label>Sepeda</label>
    <input type="checkbox" value="sepeda" v-model="checkbox">
    <label>Coding</label>
    <input type="checkbox" value="coding" v-model="checkbox">
    <br>
    <p>Hobby saya: {{ checkbox }}</p>
    <ul>
      <li v-for="check in checkbox" :key="check.key">{{ check }}</li>
    </ul>
    <hr>

    Choice your programming language:<br>
    <select v-model="select">
      <option value="" disabled>--Choice Programming Language--</option>
      <option value="PHP">PHP</option>
      <option value="Javascript">Javascript</option>
      <option value="Golang">Golang</option>
    </select>
    <br>
    <p>Your favorite language is: {{ select }}</p>
  </div>

    <script src="assets/vendor/vue.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>
