<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js 2 For Beginners</title>
</head>
<body>
  <div id="app">
    <p v-if="show">{{ message }}</p>
    <p v-if="show2 == 'ready'">{{ message }}</p>
    <p>Result from {{ int1 }} + {{ int2 }} = {{ sum }}</p>
    <p>Result via method {{ result }}</p>
    <button @click="sumProcess(2)">Process</button>
  </div>

    <script src="assets/vendor/vue.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>
