<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js 2 For Beginners</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="message">
    <label>{{ message }}</label>
    <hr>

    <textarea v-model="textarea"></textarea>
    <br>
    <pre>{{ textarea }}</pre>
    <hr>

    <input type="radio" v-model="radiobutton" value="opsi1"> Opsi 1
    <input type="radio" v-model="radiobutton" value="opsi2"> Opsi 2
    <br>
    <p>Your choice: {{ radiobutton }}</p>
  </div>

    <script src="assets/vendor/vue.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>
